node_modules
dist
dist-ssr
build
coverage
src-tauri/target
src-tauri/gen
src-tauri/WixTools
.DS_Store
.dockerignore
.editorconfig
.eslintcache
.gitignore
.history
.prettierignore
.env*
!.env.example
Dockerfile*
LICENSE
CNAME
*.lock
pnpm-lock.yaml
package-lock.json
*.png
*.jpg
*.jpeg
*.webp
*.gif
*.svg
*.ico
*.icns
*.toml
*.rs
yarn-error.log
